dotenv .github/.env

export GOREMAN_BASE_PORT=9101

export MYSQL_DSN="${MYSQL_USER}:${MYSQL_PASSWORD}@tcp(${MYSQL_HOST}:${MYSQL_PORT})/${MYSQL_DATABASE}?parseTime=true"

export REDIS_DB=1
export REDIS_DSN="redis://${REDIS_HOST}:${REDIS_PORT}/${REDIS_DB}"

export AWS_ACCESS_KEY_ID="${MINIO_ROOT_USER}"
export AWS_SECRET_ACCESS_KEY="${MINIO_ROOT_PASSWORD}"
export AWS_DEFAULT_REGION="${MINIO_SITE_REGION}"
export AWS_ENDPOINT_URL="http://${MINIO_HOST}:${MINIO_PORT}"
