export GOREMAN_BASE_PORT=9101
export MYSQL_HOST=127.0.0.1
export MYSQL_PORT=13306
export MYSQL_DATABASE=pneutrinoutil
export MYSQL_ROOT_PASSWORD=rootpass
export MYSQL_USER=pneutrinoutil
export MYSQL_PASSWORD=userpass
export MYSQL_DSN="${MYSQL_USER}:${MYSQL_PASSWORD}@tcp(${MYSQL_HOST}:${MYSQL_PORT})/${MYSQL_DATABASE}?parseTime=true"

export REDIS_VERSION=7.4.3
export REDIS_HOST=127.0.0.1
export REDIS_PORT=16379
export REDIS_DB=1
export REDIS_DSN="redis://${REDIS_HOST}:${REDIS_PORT}/${REDIS_DB}"
export REDIS_TEST_DB=10

export MINIO_VERSION=RELEASE.2025-04-22T22-12-26Z
export MINIO_HOST=127.0.0.1
export MINIO_PORT=19000
export MINIO_CONSOLE_PORT=19001
export MINIO_ROOT_USER=minio
export MINIO_ROOT_PASSWORD=miniopassword
export MINIO_SITE_REGION=us-east-1

export AWS_ACCESS_KEY_ID="${MINIO_ROOT_USER}"
export AWS_SECRET_ACCESS_KEY="${MINIO_ROOT_PASSWORD}"
export AWS_DEFAULT_REGION="${MINIO_SITE_REGION}"
export AWS_ENDPOINT_URL="http://${MINIO_HOST}:${MINIO_PORT}"
export AWS_USE_PATH_STYLE_ENDPOINT=true

export AWS_S3_DISABLE_HTTPS=true
export STORAGE_BUCKET=pneutrinoutil

export GO_ARCH_LINT_VERSION=v1.12.0
