dotenv .github/.env

export MYSQL_DSN="${MYSQL_USER}:${MYSQL_PASSWORD}@tcp(${MYSQL_HOST}:${MYSQL_PORT})/${MYSQL_DATABASE}?parseTime=true&loc=Asia%2FTokyo"

export REDIS_DB=1
export REDIS_DSN="redis://${REDIS_HOST}:${REDIS_PORT}/${REDIS_DB}"

export AWS_ACCESS_KEY_ID="${MINIO_ROOT_USER}"
export AWS_SECRET_ACCESS_KEY="${MINIO_ROOT_PASSWORD}"
export AWS_DEFAULT_REGION="${MINIO_SITE_REGION}"
export AWS_ENDPOINT_URL="http://${MINIO_HOST}:${MINIO_PORT}"

export SERVER_URI="http://${SERVER_HOST}:${SERVER_PORT}/v1"
export CONTAINER_SERVER_URI="http://server:${SERVER_PORT}/v1"
export EXTERNAL_SERVER_URI="$SERVER_URI"
