name: CI

permissions: {}

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    timeout-minutes: 10
    permissions:
      contents: read
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false
      - name: Setup Go
        uses: ./.github/actions/setup-go
      - name: Build
        run: ./task build

  test:
    timeout-minutes: 10
    permissions:
      contents: read
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false
      - name: Set env vars
        uses: ./.github/actions/setup-env
      - name: Set up Docker
        uses: ./.github/actions/setup-docker
      - name: Setup Go
        uses: ./.github/actions/setup-go
      - name: Test
        run: ./task test
      - name: Stop docker services
        if: ${{ always() }}
        run: docker compose down

  e2e:
    timeout-minutes: 10
    permissions:
      contents: read
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false
      - name: Set env vars
        uses: ./.github/actions/setup-env
      - name: Set up Docker
        uses: ./.github/actions/setup-docker
      - name: Setup Go
        uses: ./.github/actions/setup-go
      - name: E2E
        run: ./task e2e
      - name: Stop docker services
        if: ${{ always() }}
        run: docker compose down

  lint:
    timeout-minutes: 5
    permissions:
      contents: read
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false
      - name: Set env vars
        uses: ./.github/actions/setup-env
      - name: Setup Go
        uses: ./.github/actions/setup-go
      - name: Lint
        run: ./task lint

  shell-lint:
    timeout-minutes: 5
    permissions:
      contents: read
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false
      - name: Set env vars
        uses: ./.github/actions/setup-env
      - name: Enable Shellcheck problem matcher
        run: echo "::add-matcher::.github/shellcheck-matcher.json"
      - name: Shellcheck
        run: |
          ./bin/shellcheck.sh
          echo "::remove-matcher owner=shellcheck-matcher::"
